* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f5f5f5;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #fff;
    padding: 20px 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button {
    border: none;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

#addProjectContainer {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#addProjectForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#addProjectForm label {
    margin-bottom: 5px;
}

#addProjectForm input {
    border: 2px solid #000;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#addProjectForm textarea {
    border: 2px solid #000;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    resize: none;
}

#addProjectForm button {
    border: none;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

#projectsContainer {
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

#projectsContainer .projectButton {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#tasksContainer {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

#tasksContainer .taskCard {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#tasksContainer .taskCard .taskCardTitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

#tasksContainer .taskCard .taskCardDescription {
    font-size: 16px;
    margin-bottom: 10px;
}

#tasksContainer .taskCard .taskCardDueDate {
    font-size: 16px;
    margin-bottom: 10px;
}

#tasksContainer .taskCard .taskCardPriority {
    font-size: 16px;
    margin-bottom: 10px;
}

#tasksContainer .taskCard .taskCardActions {
    margin: 20px 0;
}

#tasksContainer .taskCard .taskCardActions button {
    border: none;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#editTaskModal {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

#editTaskForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#editTaskForm label {
    margin-bottom: 5px;
}

#editTaskForm input {
    border: 2px solid #000;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#editTaskForm textarea {
    border: 2px solid #000;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    resize: none;
}

#editTaskForm select {
    border: 2px solid #000;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#editTaskForm button {
    border: none;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

#addTaskModal {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

#addTaskForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#addTaskForm label {
    margin-bottom: 5px;
}

#addTaskForm input {
    border: 2px solid #000;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#addTaskForm textarea {
    border: 2px solid #000;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    resize: none;
}

#addTaskForm select {
    border: 2px solid #000;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#addTaskForm button {
    border: none;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}
